<section class="contact py-5">
    <div class="container">
        <h2 class="fs-1 fw-bold text-center">PORTFOLIO COMPONENT</h2>
        <div class="star text-center">
            <div class="star star-l"></div>
            <i class="fa-solid fa-star p-3"></i>
            <div class="star star-r"></div>
        </div>
        <div class="row">
            <div class="col-12 contact-form">
                <div class="mb-5">
                    <label for="formGroupExampleInput" class="form-label">userName :</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="userName">
                </div>
                <div class="mb-5">
                    <label for="formGroupExampleInput2" class="form-label">userAge :</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="userAge">
                </div>
                <div class="mb-5">
                    <label for="formGroupExampleInput2" class="form-label">userEmail :</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="userEmail">
                </div>
                <div class="mb-5">
                    <label for="formGroupExampleInput2" class="form-label">userPassword :</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="userPassword">
                </div>
                <div class="btn text-white"><a>send Message</a></div>
            </div>
        </div>
    </div>
</section>