.home{
    height: 470px;
    background-color: #1ABC9C;
}
.home img{
    width: 22%;
}
.star{
    position: relative;
}
.home .star-l , .home .star-r{
    display: block;
    width: 85px;
    position: absolute;
    top: 45%;
    background-color: white;
    border-bottom: 4px solid white;
}
.home .star-l{
    right: 40%;
}
.home .star-r{
    left: 40%;
}