<section class="about">
    <div class="container text-center text-white">
        <h2 class="fs-1 fw-bold">ABOUT COMPONENT</h2>
        <div class="star">
            <div class="star star-l"></div>
            <i class="fa-solid fa-star p-3"></i>
            <div class="star star-r"></div>
        </div>
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                </div>
            </div>
        </div>
    </div>
</section>